*{
    background: lightblue;

}
body{
   display: flex;
 flex-direction: column;
      width: 60vw;
    height: 80vw;
    font-family: "Fuzzy Bubbles", sans-serif;
}
.pics{
   display: flex;
    padding: 1vw;
   text-align: center;
    flex-direction: column;
   background: plum;
  height: 30vw;
  width: 60vw;

}.pics1{
   display: flex;
   justify-content: space-between;
   margin: 5vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;

}
.pics2{
   display: flex;
   justify-content: space-between;
   margin: 5vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;

}.pics3{
   display: flex;
   justify-content: space-between;
   margin: 5vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;

}

.textHead{
   display: flex;
   margin: 20vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;
}
.robotHead{
   display: flex;
   margin: 20vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;
}
.artHead{
   display: flex;
   margin: 20vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;
}
.gameHead{
   display: flex;
   margin: 20vw;
    padding: 1vw;
   text-align: center;
    flex-direction: row;
   background: plum;
  height: 30vw;
  width: 60vw;
}
.click{
 display: flex;
 justify-content: space-around;
       width: 80vw;
    height: 80vw;
    border-radius:20% ;
    background: plum;
    font-family: "Fuzzy Bubbles", sans-serif;
}
.d{
  background: lightblue;
  color: white;
}
a{
  text-decoration: none;
    background: plum;
    font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
   color: white;
   font-size: 2.5vw;
}
.a{
    width: 20vw;
    height: 10vw;
    border-radius:20% ;
    background: plum;
    font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.b{
    width: 20vw;
    height: 10vw;
    border-radius: 20%;
    background: plum;
    font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.c{
    width:20vw;
    height: 10vw;
    border-radius: 20%;
    background: plum;
   font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal; 
}
.d{
  width:20vw;
  height: 10vw;
  border-radius: 20%;
  background: plum;
  font-family: "Fuzzy Bubbles",sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bl{
  width:20vw;
  height: 10vw;
  border-radius: 20%;
  background: lightblue;
  
}

h2, p, h1, h3, h4, a{
  font-size: 1.6vw;
  background: plum;
  color: black;
}
img{
    background: plum;
padding: 1vw;
  height: 30vw;
}

.bod{

  background: plum;
  margin: 5vw;
  padding: 5vw;
  border-radius: 7%;
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}